[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
fastapi = {extras = ["standard"], version = "*"}
pint = "==0.23"
pyside6 = "*"
matplotlib = "*"
numpy = "==1.26.4"

[dev-packages]
pytest = "*"
pre-commit = "*"
pytest-cov = "*"

[requires]
python_version = ">=3.11"
