[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
func-validator = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
build = "*"
pytest-cov = "*"
isort = { extras = ["pipfile_deprecated_finder"], version = "*" }
enum-tools = { extras = ["sphinx"], version = "*" }
ipython = "*"
black = "*"
mkdocs = "*"
mkdocstrings = { extras = ["python"], version = "*" }
mkdocs-material = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"

[requires]
python_version = "3.11"
