[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
fastapi = {extras = ["standard"], version = "*"}
pyside6 = "*"
matplotlib = "*"
numpy = "==1.26.4"
pint = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
blackdoc = "*"
pre-commit = "*"
geolysis = {file = ".", editable = true}
