@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

html {
  --pst-font-family-base: "Lato", "Source Sans 3", Verdana,
    var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base-system);
  --pst-font-family-monospace: "Reddit Mono", "Fira Code", "Consolas", Courier,
    var(--pst-font-family-monospace-system);
  --pst-font-weight-heading: 400;

  /* Sidebar styles */
  --pst-sidebar-font-size: 0.9rem;
}

/* .sidebar-secondary-items {
  font-family: "IBM Plex Sans", var(--pst-font-family-base);
} */

code.xref,
a code {
  /* font-size: 0.833rem; */
  font-weight: normal;
}

code > span.pre {
  font-family: "Lato";
}

/* Comments in code should be italic */
span.c1 {
  font-style: italic;
}

div.prev-next-area {
  font-family: var(--pst-font-family-base);
  font-size: 0.8125rem;
  font-weight: 600;
}

footer.bd-footer {
  font-family: var(--pst-font-family-base);
  font-size: 0.8125rem;
}
